<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
$for(author-meta)$
    <meta name="author" content="$author-meta$">
$endfor$
$if(keywords)$
    <meta name="keywords" content="$for(keywords)$$keywords$,$endfor$">
$endif$
$if(description)$
    <meta name="description" content="$description$">
$endif$
    <title>$title$</title>
    <link rel="shortcut icon" href="assets/favicon.ico">
$for(style)$
    <link rel="stylesheet" href="$style$">
$endfor$
    <link id="prism-css" rel="stylesheet" href="">
  </head>
  <body class="light">
    <header>
      <a href="index.html" title="Site title">$title$</a>
      <nav>
        <a href="index.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="journal.html">Journal</a>
        <a href="projects.html">Projects</a>
        <a class="toggle-theme" href="#">Darken</a>
      </nav>
    </header>
    <main>$body$</main>
    <footer>
      <nav>
        <a href="https://github.com/marcbperez"><img src="assets/github-icon.png" title="Github icon" alt="Github"></a>
        <a href="https://hub.docker.com/u/marcbperez/"><img src="assets/docker-icon.png" title="Docker icon" alt="Docker"></a>
        <a href="https://npmjs.com/~marcbperez/"><img src="assets/npm-icon.png" title="NPM icon" alt="NPM"></a>
        <a href="https://pypi.org/user/marcbperez/"><img src="assets/pypi-icon.png" title="PyPI icon" alt="PyPI"></a>
        <a href="https://launchpad.net/~marcbperez/"><img src="assets/launchpad-icon.png" title="Launchpad icon" alt="Launchpad"></a>
        <a href="https://tindie.com/stores/marcbperez/"><img src="assets/tindie-icon.png" title="Tindie icon" alt="Tindie"></a>
      </nav>
    </footer>
$for(script)$
    <script src="$script$"></script>
$endfor$
  </body>
</html>
